body{
    background: #000046;  
}
.responsive{
    max-width: 100%;
    height: auto;
    width: auto;
}
img{
    padding: 20px;
}
.displayBox{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;

}
