body{
    background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.responsive{
    max-width: 100%;
    height: auto;
    width: auto;
}
img{
    padding: 20px;
}
.displayBox{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;

}
